
.search-input-container {
	margin-bottom: 2em;
}

.title {
	margin-bottom: .5em;
}

.colour-input input {
	padding: .5em;
	border-radius: 0.25em;
}

.form-button {
	display: none;
}

.result-message {
	margin-top: 1em;
}

input[type="text"]:disabled {
	background-color: rgb(187, 195, 214);
}

input[type="color"] {
	margin-left: 1em;
}