.colour-item-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.colour-item-container > * {
	margin-bottom: 1em;
}

.colour-item-container > svg {
	flex: 1;
	
}

.colour-item-container > p {
	flex: 1;
}
