.colour-item-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.colour-item-container > svg {
	flex: 1;
}

.colour-item-container > p {
	flex: 1;
}

.colour-item-container {
	padding: .5em 0;
}